body{
    color: black;
    background-color: #d5e1df;
    font-family: Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    width: 100%;
    padding-right: 15px;
}

[class*="col-"] {
    padding: 0;
    float: left;
    margin: 15px 0;
    text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: 15px;
    float: left;
    width: 100%;
}


    .col-xxs-1 {width: 8.33%;}
    .col-xxs-2 {width: 16.66%;}
    .col-xxs-3 {width: 25%;}
    .col-xxs-4 {width: 33.33%;}
    .col-xxs-5 {width: 41.66%;}
    .col-xxs-6 {width: 50%;}
    .col-xxs-7 {width: 58.33%;}
    .col-xxs-8 {width: 66.66%;}
    .col-xxs-9 {width: 75%;}
    .col-xxs-10 {width: 83.33%;}
    .col-xxs-11 {width: 91.66%;}
    .col-xxs-12 {width: 100%;}

    [class*="col-xs-"] {
        text-align: center;
    }

@media (min-width: 768px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    [class*="col-xs-"] {
        text-align: left;
    }
    .block {
        height: 600px;
        border-right:  solid 2px #000000;
        margin: 0;
    }



}

@media (min-width: 968px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    [class*="col-xs-"] {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    [class*="col-"] {
        text-align: left;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.main-container{

}


.header {
    display: block;
    border-bottom: solid 2px #000000;
    margin: 0;
    padding: 0;
}


.header__descryption-block {
    padding: 20px;
   }




.block__title{

}
.block__list--item{
    margin: 0;
    padding: 10px;

}

.block__list--item:hover{
    margin: 0;
    background-color: #32a1ff;
}


.asside__list {
    list-style: none;
    margin: 0;
    padding: 15px;
}
.contact-form{
	margin-top: 0px;
}
.contact-form__container{
	border: 1px solid #d6d6d6;
	line-height: 1.6em;	
	text-align: left;
}
.contact-form__inner-space{
	padding: 15px;
	margin: 0;
}
.contact-form--active{
	border: 1px solid #d0e2f0;	
}
.contact-form--active:focus{
	background-color: #d0fff0;
	border: 2px solid #05ff05;
}


.footer {
    text-align: center;
    border-top:  solid 2px #000000;
    clear: both;
    margin: 0;
}

.octo, .octo div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.octo, .octo div {
    width: 160px;
    height: 160px;
}
.octo {
    transform: rotate(45deg);

}
.octo1 {
    transform: rotate(-45deg);
}

.iput_fields{
    background-color: #e3eaa7;
}