body{
    color: white;
    /*background-color: #d5e1df;*/
    font-family: Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}
.container_main {
    background-color: white;
    width: 100%;
    height: 1530px;
}


.container {;
    margin: 30px auto auto;
    background-color: #d5e1df;
    padding: 0;
    width: 80%;
    height: 1500px;

    -webkit-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: solid 1px #759ec5;
}

.hover_shadow:hover {
    -webkit-box-shadow:  0 24px 24px rgba(0,0,0,0.55), 0 24px 24px rgba(0,0,0,0.45);
    -moz-box-shadow:   0 24px 24px rgba(0,0,0,0.55), 0 24px 24px rgba(0,0,0,0.45);
    box-shadow: 0 24px 24px rgba(0,0,0,0.55), 0 24px 24px rgba(0,0,0,0.45);
}

[class*="col-"] {
    padding: 0;
    float: left;
    margin: 15px 0;
    text-align: center;
}

.row {
    margin: 0;
    float: left;
    width: 100%;
}
.row div {
    margin: 0;
}


img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}



.header__descryption-block {
    padding: 20px;
}

.block__list--item{
    margin: 0;
    padding: 10px;
}

.block__list--item:hover{
    margin: 0;
    background-color: #48b1ff;
}

.asside__list {
    list-style: none;
    margin: 0;
    padding: 15px;
}
.contact-form{
    margin-top: 0;
}

.contact-form__container{
    border: 1px solid #d6d6d6;
    line-height: 1.6em;
    text-align: left;
}

.contact-form__inner-space{
    padding: 15px;
    margin: 0;
}
.contact-form--active{
    border: 1px solid #d0e2f0;
}

.contact-form--active:focus{
    background-color: #d0fff0;
    border: 2px solid #05ff05;
}

.octo, .octo div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.octo, .octo div {
    width: 160px;
    height: 160px;
}

.octo {
    transform: rotate(45deg);

}

.octo1 {
    transform: rotate(-45deg);
}

.iput_fields{
    background-color: #e3eaa7;
}

.my_avatar {
    text-align: center;
    background-color: #202123;
    height: 100%;
    padding: 15px;
    margin: 0;
}

    .col-xxs-1 {width: 8.33%;}
    .col-xxs-2 {width: 16.66%;}
    .col-xxs-3 {width: 25%;}
    .col-xxs-4 {width: 33.33%;}
    .col-xxs-5 {width: 41.66%;}
    .col-xxs-6 {width: 50%;}
    .col-xxs-7 {width: 58.33%;}
    .col-xxs-8 {width: 66.66%;}
    .col-xxs-9 {width: 75%;}
    .col-xxs-10 {width: 83.33%;}
    .col-xxs-11 {width: 91.66%;}
    .col-xxs-12 {width: 100%;}

    [class*="col-xxs-"] {
        float: left;
        text-align: center;
    }

@media (min-width: 768px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    .container {
        height: 1750px;
    }

    .my_avatar {
        height: 33.33%;

    }

    [class*="col-xs-"] {
        text-align: left;
    }
    .block {
        height: 600px;
        border-right:  solid 2px #000000;
        margin: 0;
    }
}

@media (min-width: 968px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    [class*="col-xs-"] {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

    [class*="col-"] {
        text-align: left;
    }
    .my_avatar {
        height: 100%;
    }
}


.header {
    height: 33.33%;
    display: block;
    padding: 0;
}

.contact_me {
    background-color: #5f9ad2;
    height: 100%;
    padding: 15px;
    margin: 0;
    color: #FFFDFF;
}
.contact_me ul {
    list-style: none;
}
.contact_me ul li {
    /*height: 100%;*/
    margin: 15px 0;
    padding: 0;
}
.contact_me ul li a:only-child {
    /*display: inline;*/
    vertical-align: middle;

}
.contact_me ul li  h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.contact_me ul li a h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.contact_me ul li a img {
    display: inline-block;
    vertical-align: middle;
}

.about_me {
    background-color: #387d95;
    height: 100%;
    padding: 15px;
    margin: 0;
}

.content {
    height: 63.66%;
}

.content h1 {
    color: #387d95
}

.experience {
    height: 100%;
    margin: 0;
    padding: 15px;
    background-color: #242529;
}

.education_skills {
    background-color: #202123;
    height: 100%;
    margin: 0;
}

.footer {
    height: 3%;
    text-align: center;
    /*border-top:  solid 2px #000000;*/
    clear: both;
    margin: 0;
    background-color: #202123;
}

.display_inline {
    /*display: inline;*/
}

.icon{
    width: 10%;
    height: 10%;
}

.contact_link {
    text-decoration: none;
    color: white;
}

