body {
    margin: auto;
    width: 1000px;
    color: white;
    background-color: #2237ff;
    font-family:  Helvetica, sans-serif;
}
header {
    display: block;
    background-color: #48b1ff;
    border-bottom: solid 2px #000000;
    height: 300px;
    margin-bottom: 20px;
}

header img {
    float: left;

}

header div {
    padding: 0;
    display: inline;
    float: left;
    width: 90%;
    margin-left: 20px;
}

header div h1 {
    margin-top: 0;
    padding-top: 0;
}

main {
    text-align: center;
    margin-top: 20px;
    clear: left;

    float: left;
}

aside {
    margin-top: 20px;
    display: inline-block;
}

aside nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    clear: both;
}